h1, h2, h3 {
    font-size: 3rem;
    font-family: 'Goldman', cursive;
}

p {
  font-size: 2rem;
  font-family: 'Teko', sans-serif;
}

a {
  color: #f8f8ff;
  text-decoration: none;
}

body {
margin: 0;
padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

li a:hover {
  background-color: #808080;
}

/* Nav-Bar */

#nav-bar {
  position: fixed;
  background-color: #000000;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
}

/* Greeting */

#header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('yz250.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('yz250.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('yz250.jpg');
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -4px;
  background-attachment: fixed;
  height: 750px;
  width: 100%;
}

.greeting {
  margin: 0 0 0 0;
}

.greeting-logo {
  width: 600px;
  padding: 10% 0 10% 60%;
}

/* Sneak Peak */

#summary {
  background-color: #373a40;
  height: 1350px;
  width: 100%;
}

.sum1 {
  display: flex;
}

.sneak-peak {
  color: #ffff;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding: 3% 0%;
}

.begin {
  font-size: 3rem;
  color: #ffff;
  text-align: center;
  margin: 5px 0px;
  padding: 5% 5% 5% 10%;
}

.kx250f {
  position: static;
  float: right;
  width: 400px;
  padding: 0 10% 0% 10%;
}

.intro-photos {
  display: flex;
  padding: 10% 0% 0% 3%;
}

.photos {
  padding: 0 1% 1% 0;
  width: 350px;
  height: 375px;
}

.interest {
  font-size: 3rem;
  text-align: center;
  margin: 0 25% 0 25%;
  padding: 1% 0 1% 0;
}

/* Footer */

#footer {
  padding-top: 25px;
  height: 75px;
  text-align: center;
  background-color: #393e46;
}

.social-links {
  padding: 0 10px 0 10px;
  font-size: 2.5rem;
}



/* ------------------------- About HRD Page ------------------- */

#about-header {
  padding: 30px 0;
}

.about-bg {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hrdshop.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hrdshop.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hrdshop.jpg');
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: -4px;
  height: 750px;
  width: 100%;
}

.about-hrd {
  display: inline-flex;
  height: 500px;
}

.about-h1 {
  margin: 0;
  padding: 5% 0 3% 0;
  color: #ffff;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
}

.about-begin {
  margin: 0 5% 0 0;;
  padding: 2% 2%;
  white-space: inherit;
  height: 225px;
  margin-top: 150px;
  color: #ffff;
  text-shadow: 3px 3px #000000;
  background-color: #393e46;
  font-size: 2.5em;
}

.tylermud {
  margin: 2% 2%;
  float: right;
  display: inline-flex;
  width: 350px;
  height: 500px;
}

/* About Tyler */

#tyler-header {
  margin: 100px 0;
  height: 100px;
}

.my-name {
  margin: 0 25% 0 25%;
  padding: 1% 1%;
  color: #ffff;
  text-align: center;
  text-decoration: underline;
  font-size: 4em;
  background-color: #393e46;
  width: 50%;
  text-shadow: 3px 3px #000000;
}

#about {
  margin: 7% 0;
}

.description1 {
  display: inline-flex;
}

.about-me {
  color: #ffff;
  background-color: #393e46;
  width: 50%;
  height: 375px;
  margin: 100px 25px 75px 100px;
  text-shadow: 3px 3px #000000;
}

.tm85 {
  position: static;
  float: right;
  margin: 2% 2%;
  width: 500px;
  padding: 0 3% 0 15%;
}

.description2 {
  display: inline-flex;
}

.about-me2 {
  text-align: center;
  color: #ffff;
  background-color: #393e46;
  width: 50%;
  height: 150px;
  margin: 100px 50px 75px 50px;
  text-shadow: 3px 3px #000000;
}

.nepapower {
  width: 700px;
}

.description3 {
  display: inline-flex;
}

.about-me3 {
  color: #ffff;
  background-color: #393e46;
  width: 50%;
  height: 200px;
  margin: 250px 50px 75px 50px;
  text-shadow: 3px 3px #000000;
}

.race-mechanic {
  margin: 50px 50px;
  width: 700px;
}
